
    <nav class="nav-bar">
    <a class="navbar-style flex-item-one" href="/">Home</a>
    <a  class="navbar-style flex-item-two" href="/about">About</a>
    <a  class="navbar-style flex-item-three" href="/works">Works</a>
    <a  class="navbar-style flex-item-four" href="/photos">Photos</a>
</nav>



{{!--<section class="container">
    <nav class="navbar bg-white">
    <a  class="text-dark mr-md-1" href="/">Home</a>
    <a class="text-dark mr-md-1" href="/about">About</a>
    <a class="text-dark mr-md-1" href="/works">Works</a>
    <a class="text-dark mr-md-1" href="/photos">Photos</a>
</nav>
</section> --}}