<nav >
    <a  class="navbar-style" href="/">Home</a>
    <a class="navbar-style" href="/about">About</a>
    <a class="navbar-style" href="/works">Works</a>
    <a class="navbar-style" href="/photos">Photos</a>
</nav>