{{!--<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>About Rick Warren</title>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body> --}}
    <div id="about-image-layout">
       <h1 id="about-h1">Pastor & Author</h1>
      {{!--<article class="picture-two">
     
      <article>
        <img class="picture-two" id="picture-two-size" src="/images/rw_kw_ocregister.jpeg" alt="Rick and Kay Warren Picture">
      </article>
      <article>
        <img class="picture-two" src="/images/rw_family.jpeg" alt="Rick's Family Picture">
      </article> --}}
    </div>
    
    <section id="para-image-layout">
     <p id="text-about">
     As the founding pastor of Saddleback Church with his wife Kay, <br>
      Dr. Rick Warren leads a 30,000 member congregation in California <br>
     with campuses in major cities around the world. As an author, <br>
     his book "The Purpose Driven Life" is one of best-selling nonfiction <br>
     books in publishing history. It has been translated into 74 languages <br>
     and sold more than 50 million copies in all formats. <br>
     His book "The Purpose Driven Church" was named oen of the 100 Christian <br>
     books that changed the century. Rick also founded 
     "The PEACE Plan" <br>to address the global issues - spiritual emptiness, self-serving leadership, <br>poverty, disease and illiteracy - 
     through the power of ordinary people <br>in the local church.
    </p>
    <div>
      <img id="about-image-adjustment" src="/images/rw_kw_ocregister.jpeg" alt="Rick & Kay Warren picture">
    </div>
    </section>
   
    
    <!--<a href="/home">Home</a>-->
  {{!--</body>
</html>--}}
