<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Basic Website Lab About Rick Warren Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Pastor & Author</h1>
    <p>
      Richard Duane Warren (born January 28, 1954) is an American Baptist
      evangelical Christian pastor and author. He is the founder and senior
      pastor of Saddleback Church. Warren has been married to Kay Warren since
      June 21, 1975. They have three adult children and four grandchildren. He
      considers Billy Graham, Peter Drucker, and his own father to be among his
      mentors. Because of the success of his book sales, in 2005 Warren returned
      his 25 years of salary to the church and discontinued taking a salary. He
      says he and his wife became "reverse tithers", giving away 90% of their
      income and living off 10%
    </p>
    <a href="/home">Home</a>
  </body>
</html>
