


    <section > 
     {{!-- <nav class="navbar bg-white">
        <a class="text-dark mr-md-1" href="/home">Home</a>
        <a class="text-dark mr-md-1 ml-md-1" href="/about">About</a>
        <a class="text-dark mr-md-1 ml-md-1" href="/works">Works</a>
        <a class="text-dark mr-md-1 ml-md-1" href="/gallery">Photos</a>
      </nav>   --}}
      {{!--<article> 
        <img class="picture-one" src="/images/rw_home.jpeg" alt="Rick Warren in front of congregration">
        <h1>Welcome to the introduction about Rick Warren</h1>
        <p id="layout">Here you can find out more about Rick Warren</p>
      </article> --}}

<header class="picture-one"> 
        <h1>Welcome to the <br>introduction <br>about Rick Warren</h1>
      <!--<h2>Find out more about Rick Warren here</h2>-->
      </header>
    </section>