


    <section class="container"> 
     {{!-- <nav class="navbar bg-white">
        <a class="text-dark mr-md-1" href="/home">Home</a>
        <a class="text-dark mr-md-1 ml-md-1" href="/about">About</a>
        <a class="text-dark mr-md-1 ml-md-1" href="/works">Works</a>
        <a class="text-dark mr-md-1 ml-md-1" href="/gallery">Photos</a>
      </nav>   --}}
      <article> 
        
        <h1>Welcome to the introduction about Rick Warren</h1>
        <p id="layout">Here you can find out more about Rick Warren</p>
      </article>
    </section>