<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Basic Website Lab Works Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div>
      <h1>Purpose-Driven Life Book</h1>
      <p>
        Warren was encouraged by Billy Graham in his 20s after he wrote his
        first book: Rick Warren’s Bible Study Methods. This greatly inspired
        Warren when he had "little confidence" in his writing ability: The
        Purpose Driven Life might have never been written if Billy Graham had
        not believed in me.[1][2] The 2002 book Purpose Driven Life is a sequel
        to his 1995 book The Purpose Driven Church.
      </p>
      <p>
        The book is intended to be read as a daily inspiration, with each of the
        40 short chapters read on consecutive days.[3][4] Each chapter contains
        a personal application section at the end with a "point to ponder," a
        verse to remember, and a question to consider over the course of that
        day. Rick Warren described his book as an "anti-self-help book." The
        first sentence of the book reads, "It's not about you,"[5] and the
        remainder of the chapter goes on to explain how the quest for personal
        fulfillment, satisfaction, and meaning can only be found in
        understanding and doing what God placed you on Earth to do.[6] The
        book's 40 chapters are divided into six major sections, with the
        following titles:[7] What on Earth Am I Here For? Purpose #1: You Were
        Planned for God's Pleasure (Christian Worship) Purpose #2: You Were
        Formed for God's Family (Christian Church) Purpose #3: You Were Created
        to Become Like Christ (Discipleship) Purpose #4: You Were Shaped for
        Serving God (Christian Ministry) Purpose #5: You Were Made for a Mission
        (Christian mission) In later versions of the book, 2 additional chapters
        were added about the 2 biggest reasons why Christians don't live purpose
        driven lives, envy and "people pleasing."
      </p>
    </div>
    <div>
      <h1>Saddleback Church</h1>
      <p>
        Saddleback Church is a Baptist Evangelical megachurch located in Lake
        Forest, California, situated in southern Orange County, affiliated with
        the Southern Baptist Convention. The church has several campuses in
        California and around the world. Weekly church attendance averaged over
        22,000 people in 2017
      </p>
      <p>
        In 2006, the church inaugurated a second campus in San Clemente,
        California.[11] Other campuses have opened in Irvine South, Irvine
        North, Corona, San Juan Capistrano, Anaheim, Laguna Woods, Los Angeles,
        San Diego, South Bay, Newport-Mesa, Yorba Linda as well as four
        international campuses in South Manila, Philippines; Hong Kong; Buenos
        Aires, Argentina; and Berlin, Germany. Saddleback also offers an online
        worship service.
      </p>
    </div>
    <a href="/home">Home</a>
  </body>
</html>
