body {
  font-family: 'Trebuchet MS';
  margin-bottom: 0;
  height: 400px;
 
}

.navbar-style {
  font-size: 12px;
  color: black;
  text-decoration: none;
}

.nav-bar {
  background-color:white;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  color: darkgrey;
}

.flex-item-one {
  flex-basis: 0%
  flex-shrink: 1;
  margin-right: 30px;
  position: relative;
}

.flex-item-two {
  flex-basis: 0%;
  flex-shrink: 1;
  margin-right: 30px;
  position: relative;
}

.flex-item-three {
  flex-basis: 0%;
  flex-shrink: 1;
  margin-right: 30px;
  position: relative;
}

.flex-item-four {
  flex-basis: 0%;
  margin-right: 30px;
  flex-shrink: 1;
 
  position: relative;
}


h1 {
  font-size: 2.5rem;
  margin-left: 50px;
  margin-bottom: 350px;
  color: darkolivegreen;
  position: relative;
}

footer {
  color: black;
  font-size: 9px;
  /*margin-top: 400px;*/
  background:white;
  padding: 8px;
  padding-left: 10px;
  border-top: 2px solid grey;
  background-color: lightgrey;
}

.picture-one{
  background: url('/images/rw_thegospelherald.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}
