body {
  font-family: 'Trebuchet MS';
  margin: 0;
}

.navbar-style {
  font-size: 12px;
  color: black;
  text-decoration: none;
  display: flex;

  justify-content: right;
}

h1 {
  font-size: 2rem;
}
